<style>
	html, body, main {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content:center;
	}
	table {
		align-self: center;
		background-color: whitesmoke;
		border-style: solid;
		margin-top: 15px;
		width:100%;
	}
	th, tr, td {
		text-align: center;
		min-width: 120px;
		vertical-align: middle;
	}
</style>

<h1 class="text-center" id="scoreboardPage">🏈 Weekly Scoreboard 🏈 </h1>
<div class="dropdown">
	<select class="bootstrap-select btn btn-dark dropdown-toggle" name="week-dropdown" id="week-dropdown">
		{{#each weeks as |week|}}
			<option value={{week}}>Week {{week}}</option>					
		{{/each}}
	</select>
</div>

<table class="table scoreboard table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			{{#each games as |game|}}
				<th scope="col">{{game.game.away_team.name}}
					<span>
						<br>@<br>
					</span>
					{{game.game.home_team.name}}
				</th>
			{{/each}}
			<th scope="col">Point Total</th>
		</tr>
	</thead>
	<tbody>
		{{#each picks as |pick|}}
			{{#if (eq @index 0)}}
				<tr>
				<th scope="row">{{pick.user.name}}</th>
			{{else}}
				{{#unless (modulo @index 10)}}
					</tr><tr>
					<th scope="row">{{pick.user.name}}</th>
				{{/unless}}
			{{/if}}
			<td>
				{{#if pick.game.winner.id}}
					<p style={{#if (eq pick.picked_team.id pick.game.winner.id)}}"color: green;"{{else}}"color: red;"{{/if}}>
						{{pick.picked_team.name}}
					</p>
					<p>{{pick.points}}</p>
				{{else}}
					<p>{{pick.picked_team.name}}</p>
					<p>{{pick.points}}</p>
				{{/if}}
			</td>
			{{#unless (eq @index 0)}}
				{{#if (not (modulo (add @index 1) 10))}}
					<td>
						{{#each @root.picks as |subpick|}}
							{{#if (eq subpick.user.id ../user.id)}}
								{{#if (eq subpick.picked_team.id subpick.game.winner.id)}}
									<p>{{subpick.points}}</p>
								{{/if}}
							{{else}}
								{{#if (eq @index @../index)}}
									{{#if (eq subpick.picked_team.id subpick.game.winner.id)}}
										<p>{{subpick.points}}</p>
									{{/if}}
								{{/if}}
							{{/if}}
						{{/each}}
					</td>
				{{/if}}
			{{/unless}}
		{{/each}}
		</tr>
		<tr>
			<th scope="row">Winner</th>
			{{#each games as |game|}}
				<td style="font-weight: bold" id="winner">
					{{game.game.winner.name}}
				</td>
			{{/each}}
		</tr>
	</tbody>
</table>