<h1>Scoreboard</h1>
<div class="dropdown">
	<button
		class="btn btn-dark dropdown-toggle"
		type="button"
		data-bs-toggle="dropdown"
		aria-expanded="false"
	>
		{{! TODO: Add javascript to add default name to selected week}}
	</button>
	<ul class="dropdown-menu weeks">
		{{! List of available weeks in DESCENDING ORDER }}
		{{#each weeks as |week|}}
			<li>
				<a class="dropdown-item week-num" href="#">
					Week
					{{week}}
				</a>
			</li>
		{{/each}}
	</ul>
</div>
<table class="table scoreboard">
	<thead>
		<tr>
			<th scope="col">Name</th>
			{{#each games as |game|}}
				<th scope="col">{{game.game.away_team.name}}<br />
					vs<br />
					{{game.game.home_team.name}}</th>
			{{/each}}
			<th scope="col">Point Total</th>
		</tr>
	</thead>
	<tbody>
		{{#each picks as |pick|}}
			{{#if (eq @index 0)}}
				<tr>
				<th scope="row">{{pick.user.name}}</th>
			{{else}}
				{{#unless (modulo @index 10)}}
					</tr><tr>
					<th scope="row">{{pick.user.name}}</th>
				{{/unless}}
			{{/if}}
			<td>Pick:
				{{pick.picked_team.name}}<br />Points:
				{{pick.points}}
			</td>
		{{/each}}
		</tr>
	</tbody>
</table>